@import url('https://fonts.googleapis.com/css?family=Rubik');
@import url('https://fonts.googleapis.com/css?family=Raleway:300');

body {
	font-family: "Rubik", sans-serif;
}

hr { 
    display: block;
    margin-top: 1.5em;
    margin-bottom: 1.5em;
    margin-left: auto;
    margin-right: auto;
    border-style: solid;
    border-width: 3px;
} 

.header_text {
	font-family: "Raleway", sans-serif;
	font-size: 300%;
}

.text-muted {
	font-size: 120%;
	margin-top: 2em;
}

.bio-logo {
	margin-top: 20px;
	width: 200px;
	height: 200px;
}

.featwork {
	font-family: Verdana;
	margin-top: 1.5em;
	margin-left: 1em;
	color: #a9a9a9;
}

article:hover {
	background-color: #ADFF2F;
}

a:hover {
	font-size: 150%;
}

article.img-responsive {
	width: 350px;
	height: 300px;
}
